
{% extends 'base.html' %}

{% block conteudo %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-error">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{url_for('nova_pessoa')}}" method="POST">
        <label> Nome</label>
        <input type="text" name="form_nome" >
        <label> Sobrenome</label>
        <input type="text" name="form_sobrenome">
        <label> CPF</label>
        <input type="number" name="form_CPF">
        <button>Adicionar</button>
        <button><a href ="{{url_for('pessoas')}}">Cancelar</a></button>
    </form>

{% endblock conteudo %}
